<div class="mt-4">
    <div>
        <a href="/me/stored/courses">Danh sách khóa học</a>
        <h3>Khóa học đã xóa</h3>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col" colspan="2">Thời gian xóa</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" data-id="{{this._id}}" class="btn btn-link btn-restore">Khôi phục</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#form-course-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Thùng rác rỗng.
                    <a href="/me/stored/courses">Danh sách khóa học</a>
                </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Form courses modal --}}
<div id="form-course-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa khóa học ? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form id="delete-form" method="POST"></form>
<form id="restore-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        var courseID;
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var formDelete = document.forms['delete-form'];
        var btnRestore = $('.btn-restore');
        var formRestore = document.forms['restore-form'];

        $('#form-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseID = button.data('id');
        });

        btnDeleteCourse.onclick = function () {
            formDelete.action = '/courses/' + courseID + '/force?_method=DELETE';
            formDelete.submit();
        }

        btnRestore.click(function (e) {
            e.preventDefault();
            let courseID = $(this).data('id');
            formRestore.action = '/courses/' + courseID + '/restore?_method=PATCH';
            formRestore.submit();
        })


    });
</script>